*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    height:100vh;
    width: 100vw; 
}

.container{
    width: 100vw;
    height: 100vh;
    background-color:cornsilk;
    display: grid;
    grid-template-columns:(  100px, 200px);
    /* grid-template-rows: (100px, 200px) ; */
    justify-content: center;
    gap:1rem;
    padding: 4rem;
    border: 5px solid black;
    row-gap: 0.5rem;
    column-gap: 0.5rem;

}

.item{
    color: aliceblue;
    /* width: 100px;
    height: 100px; */
    background-color: rgb(5, 23, 105);
    /* margin: 5px; */
    /* border: 2px white solid; */
    border: 5px solid rgb(218, 19, 109);
    display:flex ;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

